* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    /* background-image: */
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}